body {
  box-sizing: border-box;
  padding: 80px;
  justify-content: center;
  background-color: rgb(166 241 216);
}

.pagina {
  display: flex;
  justify-content: center;
}

.diskette-container {
  display: flex;
  background-color: rgb(45 45 155);
  height: 400px;
  width: 400px;
  border-radius: 10px;
  justify-content: space-between;
  flex-direction: column;
}

.metal-container {
  display: flex;
  background: rgb(116 116 233);
  margin: 0 65px;
  margin-right: 95px;
  height: 150px;
  justify-content: end;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: solid 2px;
}

.metal {
  display: flex;
  background: white;
  width: 200px;
  height: 150px;
  align-items: center;
  justify-content: end;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.inside-metal {
  background-color: rgb(11 11 117);
  width: 40px;
  height: 120px;
  margin-right: 20px;
}

.label-container {
  display: flex;
  width: 400px;
  justify-content: center;
}

.label {
  display: flex;
  flex-direction: column;
  background: white;
  width: 280px;
  height: 200px;
  margin-left: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  bottom: 0;
  border-bottom: 20px solid orange;
  align-items: center;
  justify-content: center;
}

.line {
  width: 250px;
  height: 20px;
  border-top: 8px solid orange;
}
